.blog {
	padding: 0px 0px 50px 0px;

	&__title {
		margin: 0px 0px 50px 0px;
		@media screen and (max-width: $md3+px){
			font-size: 30px;
			margin-bottom: 25px;
		}
	}
	&__items {
	}

	&__item {
		border-bottom: 1px solid #E0E0E0;
		padding: 0px 0px 30px 0px;
		margin: 0px 0px 30px 0px;
		&:last-child {
			margin-bottom: 0;
		}
		*:last-child {
			margin-bottom: 0px;
		}
	}

	&__article-name {
		font-size: 30px;
		font-weight: 500;
		line-height: 135%;
		transition: all 0.1s ease 0s;
		display: inline-block;
		margin: 0px 0px 10px 0px;
		@media screen and (min-width: $md2+px) {
			&:hover {
				color: #ff6464;
			}
			&:not(:hover) {
				transition: all 0.1s ease 0s;
			}
		}
		@media screen and (max-width: $md3+px){
			font-size: 26px;
		}
	}

	&__info {
		display: flex;
		font-size: 20px;
		margin: 0px 0px 10px 0px;
		@media screen and (max-width: $md3+px){
			font-size: 16px;
		}
	}

	&__date {
	}

	&__separator {
		margin: 0 15px;
	}

	&__category {
		color: #8695a4;
	}

	&__text {
		margin: 0px 0px 10px 0px;
	}
}