.btn {
	background: #ff6464;
	border-radius: 2px;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 47px;
	display: inline-flex;
	padding: 0px 20px;
	font-weight: 500;
	font-size: 20px;
	line-height: 145%;
	color: #fff;
	transition: all 0.3s ease 0s;
	@media screen and (min-width: $md2+px) {
		&:hover {
			background: #ff0000;
		}
		&:not(:hover) {
			transition: all 0.3s ease 0s;
		}
	}
}
